/*
Theme Name: Treinamento INJunior (Adote Lobinhos)
Author: Caíque de Oliveira Rodrigues
Description: Estilo para o Adote Lobinhos
Version: 1
*/

main section.adopt{
    background-image: url(../images/image.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    padding: 12rem;
    text-align: center;
    justify-content: center;
}

main section.adopt h1 {
    color: white;
    font-size: 5rem;
    padding-bottom: 2rem ;
    cursor: pointer;
}

main section.adopt p {
    color: white;
    font-weight: 300;
    line-height: 2.2rem;
    font-size: 2.5rem;
}

main section.adopt h1::after{
    content: "";
    display: flex;
    background: white;
    height: .2rem;
    transition: 800ms;
    width: 6rem;
    margin-right: auto;
    margin-left: auto;
    
}

main section.adopt h1:hover::after{
    transition: .8s;
    width: 42rem;
    cursor: pointer;
}


/* SOBRE - ABOUT */

main section.about {
    background-color: #2C567F;
}

main section.about h2{
    color: #DEB959;
    font-size: 3rem;
    margin-bottom: 1rem;
}

main section.about p {
    color: white;
    font-weight: 300;
    line-height: 2.8rem;
    font-size: 2rem;
}


/* VALORES */

main section.values {
    background-color: #333333;
}

main section.values h2 {
    color: #DEB959;
    font-size: 3rem;
    margin-bottom: 1rem;
}

main section.values ul.values-list{
    display: flex;
    align-items: center;
    gap: 2rem;
}

main section.values ul.values-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section.values ul.values-list li p {
    color: white;
    font-weight: 300;
    line-height: 2rem;
    font-size: 1.5rem;
}

main section.values ul.values-list li .white-circle{
    background-color: white;
    border-radius: 50%;
    height: 12rem;
    width: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main section.values ul.values-list li h3 {
    color: white;
    font-size: 2rem;
    margin: 1.6rem 0;
}


/* LOBOS  EXEMPLO */
main .wolves h2{
    color: #DEB959;
    font-size: 3rem;
    margin-bottom: 1rem;
}
